// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import 'ui-variables';

@title-height: 30px;
@title-bar-height: 30px;
@menu-margin: 10px;

.themed-context-menu {
    display: block;
    position: absolute;
    // transform: translate(-5px);
    z-index: 9999;
    @menuBoxPadding: 24px;
    @box-radius: 2px;
	height: 100%;

    &.invisible {
        display: none;
    }

    &:focus {
        background-color: @text-color-highlight;
    }

    hr {
        line-height: 1;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 6px;
        margin-right: 6px;
        border-color: @text-color-subtle;
        opacity: 0.3;
    }

    .submenu {
        position: absolute;
        background-color: @button-background-color;
        padding-bottom: 5px;
        border-radius: @box-radius;
        box-shadow: 0px 0px 6px black;
        width: 300px;
		max-height: 95%;
		overflow-y: scroll;
    }

    .menu-item {
        display: flex;
        position: relative;
        justify-content: space-between;
        padding-left: @menuBoxPadding;
        padding-right: @menuBoxPadding;
        padding-top: 3px;
        padding-bottom: 3px;
        color: @text-color-highlight;
        animation-duration: 0.15s;
        transform-origin: center;
        cursor: pointer;

        &.disabled {
            color: @text-color-subtle;
        }

        .menu-item-key {
            white-space: nowrap;
            text-align: right;
            color: @text-color-subtle;
        }

        &.selected {
            background-color: fade(@button-background-color-selected, 20%);
        }

        &.has-submenu > .menu-item-key:after {
            position: absolute;
            content: '\f078';
            font-family: 'Octicons Regular';
            font-size: 18px;
            transform: translate(0.1em, -0.3em);
        }

        .menu-item-name {
            white-space: nowrap;
        }
    }

    & > .menu-item:nth-child(1) {
        border-top-left-radius: @box-radius;
        border-top-right-radius: @box-radius;
    }

    & > hr:last-child {
        display: none;
    }
}
